{% extends "_layout/base.html" %}

{% block canonical %}{{domain_name}}/producer/{{ item.id }}/{{ item.name|slugify }}{% endblock %}

{% block content %}
  <h2>{{ item.name|escape }}</h2>
  <div class="row">
    <div class="col-sm-4">
{% if item.image %}
      <img class="img-thumbnail" src="/assets/images/producer/{{ item.image | raw }}" alt="{{ item.name|escape }}" />
{% endif %}
    </div>
    <div class="col-sm-8">
{% if item.url %}
      <p><strong>Официална страница</strong>: <a href="{{ item.url }}" rel="nofollow">{{ item.url }}</a></p>
{% endif %}
      <p>{{ item.description|escape }}</p>
    </div>
  </div>
{{ level }}
{% if level >= 100 %}
  <hr/>
  {% include '_partials/form_producer.html' %}
{% endif %}
{% endblock %}
