{% extends "_layout/base.html" %}

{% block canonical %}{{domain_name}}/drink/{{ item.id }}/{{ item.title|slugify }}{% endblock %}

{% block content %}
  <h1>{{ item.name|escape }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-thumbnail" src="/assets/images/drink.png" alt="{{ item.name|escape }}" />
      <p>{{ item.description|escape }}</p>
    </div>
    <div class="col-sm-8">
{% if logged %}
        <form method="post" action="/drink/checkin">
          <legend>Пийваш ли сега</legend>
          <input type="hidden" name="drink_id" value="{{ item.id }}" />
          <div class="form-group">
            <label for="venue_id">Заведение</label>
            <select name="venue_id" class="form-control" id="venue_id">
              <option value="0" selected="selected">Избери ...</option>
{% for venue in venues %}
              <option value="{{ venue.id }}">{{ venue.name | escape}}</option>
{% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="description">Описание</label>
            <textarea name="description" class="form-control" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="description">Рейтинг</label>
            <select name="rating" class="form-control col-sm-2" id="rating">
              <option value="0" selected="selected">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Сипи си</button>
        </form>
{% else %}
  <div class="text-center">
    <a class="btn btn-primary" href="/auth/login" rel="nofollow">Влезте</a><br/>
    или се<br/>
    <a class="btn btn-primary" href="/auth/register" rel="nofollow">Регистрирайте</a><br/>
    за да използвате пълните възможности на системата.
  </div>
{% endif %}
    </div>
  </div>
{% if not checkins is empty %}
  <div class="row">
    <div class="col-sm-12">
      <h2>Последна активност</h2>
      {{ include('_partials/checkins.html') }}
    </div>
  </div>
{% endif %}
{% endblock %}
